<div class="container app-body">
	<div class="login-box">
		<div class="input-section">
		  <input type="text" class="form-control" placeholder="Product Name*" aria-describedby="basic-addon1">
		  <input type="text" class="form-control password" placeholder="Product Deccription" aria-describedby="basic-addon1">
		  <input type="text" class="form-control password" placeholder="price" aria-describedby="basic-addon1">
		</div>
		<div class="buttonSection">
			<button type="button" class="btn btn-primary" (click)="signinClickHandle()">add</button>
			<button type="button" class="btn btn-primary" (click)="onGotoHomeClick()">Go to Home</button>
		</div>
	</div>
</div>